/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
.container{
    display: flex;
   
    width: 80%;
    margin: 0 auto;
   
}

/* HEADER */


.header-nav{

    /* DEBUG */
    background-color: lightpink;
}

.header-bar{
    justify-content: space-around;
    align-items: center;
    height: 80px;
    
}

.logo{
    width: 20%;
    border-style: dashed solid;
    padding: 10px;

}

.header-menu{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    border-style: dashed solid;
    padding: 10px 120px;
    overflow: auto;


}

.header-action{
    width: 20%;
    border-style:dashed solid;
    text-align: right;
    padding: 10px;
    

}

.main-header{
    background-color: aquamarine;
    padding: 40px;
}
.header-text{
    min-height: 200px;
    width: 50%;
    margin: 0 auto;
    background-color: antiquewhite;
    

}